@model Usuario
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="~/css/Login.css" />
</head>
<body>
    <div class="container">
        <div class="left">
            <img src="~/img/login.png" alt="Imagen de registro" width="400">
        </div>
        <div class="right">
            <div class="title-login">Bienvenido a Diseño Responsable</div>
            <div class="form-login">
                <div class="title-form">Accede a tu cuenta</div>
                <form asp-controller="Login" asp-action="Index" method="post">
                    <div>
                        <label for="correo">Correo Electrónico:</label>
                        <input type="email" class="form-control" id="Email" name="Email" required>
                    </div>
                    <div>
                        <label for="contrasena">Contraseña:</label>
                        <input type="password" class="form-control" id="Clave" name="Clave" required>
                    </div>
                    <input type="submit" value="Iniciar Sesión">
                    <div class="text-login">Si no cuentas con un usuario, regístrate <a class="text-login-aqui" asp-controller="Login" asp-action="Register">aquí</a>.</div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>