@import url('https://fonts.cdnfonts.com/css/source-sans-pro');
@import url('https://fonts.cdnfonts.com/css/roboto');
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 24px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.Titulo-page{
    text-align: center;
    font-family: 'TT Norms Pro', sans-serif;
    color: #042354;
    font-weight: bold;
}
.control-label{
    color: #042354;
    font-size: 20px;
    margin: 10px 0px 10px;
}
h3{
    color: #042354;
    font-size: 20px;
    font-weight: bold;
}
.panel-heading{
    margin: 15px 0px 15px;
}
img{
    width: 20%;
}
.form-control[type=file]{
    width: 100%;
    margin: 0;
}
