/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
body {
  padding: 0%;
}

.navbar-principal {
  padding: 0%;
}

.franja-azul {
  height: 30px;
  background-color: #042354;
}

.menu-white {
  display: flex;
  height: 110px;
  background-color: #FFFFFF;
  border-bottom: 4px solid #CDCDCD;

}

.menu-desplegable {
  display: flex;
  width: 10%;
  align-items: center;
  justify-content: center;
}

.menu-tittle-left {
  width: 60%;
  padding: 30px;
}

.menu-tittle-right {
  width: 30%;
  text-align: end;
  padding: 15px 30px 10px 10px;
}
