@model Studoc.Models.Publicacion

<!DOCTYPE html>
<html>
<head>
    <title>Editar Publicación</title>
    <link rel="stylesheet" href="~/css/Publicacion.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://kit.fontawesome.com/019078dbc4.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h2 class="article-title">@Model.Titulo</h2>

        @for (int i = 0; i < Model.Pasos.Count; i++)
    {
        var paso = Model.Pasos[i];
        <div class="paso">
            <h3>Paso @(i + 1): @paso.Titulo</h3>
            <p>@paso.Contenido</p>

            @if (!string.IsNullOrEmpty(paso.ruta_img))
            {
                <img src="~/@Model.Pasos[i].ruta_img" alt="Imagen de paso"/>
            }

            <!-- Aquí puedes mostrar otros campos del paso si es necesario -->
        </div>
    }
    </div>
</body>
</html>
