@model Studoc.Models.Proyecto

<!DOCTYPE html>
<html>
<head>
    <title>Detalles del Usuario</title>
</head>
<body>
    <h1>Detalles de la publicación</h1>

    <h3>Proyecto</h3>
    <p>Nombre: @Model.Nombre</p>

    <h3>Publicación</h3>
    <p>Descripción: @Model.Publicacion.Titulo</p>
    <p>Descripción: @Model.Publicacion.Contenido</p>
    <a asp-area="" asp-controller="Proyecto" asp-action="EditPublicacion">Editar Publicacion</a>
</body>
</html>
